@import "tailwindcss";

@font-face {
  font-family: 'bold';
  src: url('/fonts/Inter/static/Inter_18pt-Bold.ttf');
}

@font-face {
  font-family: 'extra-light';
  src: url('/fonts/Inter/static/Inter_18pt-ExtraLight.ttf');
}

@font-face {
  font-family: 'light';
  src: url('/fonts/Inter/static/Inter_18pt-Light.ttf');
}

@font-face {
  font-family: 'medium';
  src: url('/fonts/Inter/static/Inter_18pt-Medium.ttf');
}

@font-face {
  font-family: 'regular';
  src: url('/fonts/Inter/static/Inter_18pt-Regular.ttf');
}

@font-face {
  font-family: 'semi-bold';
  src: url('/fonts/Inter/static/Inter_18pt-SemiBold.ttf');
}

@font-face {
  font-family: 'thin';
  src: url('/fonts/Inter/static/Inter_18pt-Thin.ttf');
}

@theme {
  --font-Bold: 'bold'
}

@theme {
  --font-extraLight: 'extra-light'
}

@theme {
  --font-light: 'light'
}

@theme {
  --font-medium: 'medium'
}

@theme {
  --font-regular: 'regular'
}

@theme {
  --font-semiBold: 'semi-bold'
}

@theme {
  --font-thin: 'thin'
}

@layer components {
  .link-nav {
    @apply text-[16px] font-regular
  }
}